In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 24.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=f2c195680ecc2ead56eec08325d2852e3e27f8486d84616fecbf32f9dd226801
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [3]:
from pyspark import SparkContext

sc = SparkContext()

In [7]:

rdd= sc.textFile("/content/drive/MyDrive/Colab Notebooks/spark/weather_data.txt")\
    .map(lambda x: x.split(' '))
rdd.take(3)

[['23907',
  '20150101',
  '2.423',
  '-98.08',
  '30.62',
  '2.2',
  '-0.6',
  '0.8',
  '0.9',
  '6.2',
  '1.47',
  'C',
  '3.7',
  '1.1',
  '2.5',
  '99.9',
  '85.4',
  '97.2',
  '0.369',
  '0.308',
  '-99.000',
  '-99.000',
  '-99.000',
  '7.0',
  '8.1',
  '-9999.0',
  '-9999.0',
  '-9999.0'],
 ['23907',
  '20150102',
  '2.423',
  '-98.08',
  '30.62',
  '3.5',
  '1.3',
  '2.4',
  '2.2',
  '9.0',
  '1.43',
  'C',
  '4.9',
  '2.3',
  '3.1',
  '100.0',
  '98.8',
  '99.8',
  '0.391',
  '0.327',
  '-99.000',
  '-99.000',
  '-99.000',
  '7.1',
  '7.9',
  '-9999.0',
  '-9999.0',
  '-9999.0'],
 ['23907',
  '20150103',
  '2.423',
  '-98.08',
  '30.62',
  '15.9',
  '2.3',
  '9.1',
  '7.5',
  '2.9',
  '11.00',
  'C',
  '16.4',
  '2.9',
  '7.3',
  '100.0',
  '34.8',
  '73.7',
  '0.450',
  '0.397',
  '-99.000',
  '-99.000',
  '-99.000',
  '7.6',
  '7.9',
  '-9999.0',
  '-9999.0',
  '-9999.0']]

In [9]:
# maximum of daily tempreture

rdd.map(lambda x: float(x[5])).max()

36.0

In [11]:
# minimum of daily tempreture

rdd.map(lambda x: float(x[6])).min()

-7.9

In [13]:
maxT_rdd = rdd.map(lambda x : (x[1][4:6], float(x[5])) )
maxT_rdd.take(3)

[('01', 2.2), ('01', 3.5), ('01', 15.9)]

In [14]:
# maximum tempreture month-wise

maxT_rdd.groupByKey().mapValues(lambda values: max(values)).collect()

[('03', 29.1),
 ('05', 31.1),
 ('06', 33.6),
 ('07', 36.0),
 ('01', 26.5),
 ('02', 26.6),
 ('04', 30.8)]

In [15]:
# minimum tempreture month-wise
minT_rdd = rdd.map(lambda x : (x[1][4:6], float(x[6])) )
# minT_rdd.take(3)
minT_rdd.groupByKey().mapValues(lambda values: min(values)).collect()

[('03', -3.2),
 ('05', 14.3),
 ('06', 0.0),
 ('07', 19.8),
 ('01', -7.9),
 ('02', -3.5),
 ('04', 8.0)]